/* GENERAL + FONTS/STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */
header {
    height: 50px;
    background-color: lightseagreen;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.ms-container {
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    border: black 2px solid;


}





/* SIDEBAR NAV */
nav {
    width:150px;
    height: calc(100vh - 50px);
    background-color: gray;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    height: 100%;
}

li:last-child {
  margin-top: auto;
}

/* MAIN */

main {
    width: calc(100% - 100px);
    
}

.ms-container-main {
     height: 100%;
    width: 100%; 
    overflow-y: auto;
}


/* DEBUG */
.container-fluid {
    border: orangered 2px solid;
    height: 100%;
}

[class*="col"], .card {
    border: blue 1px solid;
}